# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/

# Environments
venv/
ENV/
env/
.venv/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Other
.DS_Store
